<div class="modal fade" id="preview">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">预览</h4>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="box">
                        <div class="row no-gutters">
                            <a class="col-4 bg-img d-none d-md-block" id="content_img"></a>
                            <div class="col-md-8">
                                <div class="box-body">
                                    <h4 id="content_name"></h4>
                                    <hr class="w-50 ml-0 bt-2">
                                    <p id="content_info"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="content_main">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>