{% macro page(data) -%}
{% if data %}

<!-- banner start -->
<div class="banner">

    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow white-bg">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="owl-carousel home-slider-carousel">
            {% for v in data %}
            <div class="single-slide-item" style="background-image: url('{{v.img}}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider-text">
                                <h3>{{v.title}}</h3>
                                <a href="{{v.url}}" class="btn btn-info">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->
{% endif %}
{% endmacro %}